<template>
    <div class="delivery-page__section delivery-page__section--size-large back-nav">
        <ArrowLeft/>
        <p class="body-text body-text--small">Back to Cart</p>
    </div>
</template>

<script>
import ArrowLeft from 'vue-material-design-icons/ArrowLeft.vue'
export default {
    name: 'BackButton',
    components : {
      ArrowLeft
    }
}
</script>

<style lang="stylus">
    .back-nav
      justify-content flex-start
      align-items center
      margin-top -5px
      
    @media (max-width: 1200px)
      .back-nav
        visibility hidden

</style>