<template>
    <div class="details__section body-text">
        <div class="details__item details__item--heading">
          <h1 class="heading-text heading-text--h1">Delivery details</h1>
          <checkbox id="mycheck1" color="#1BD97B" class=" checkbox body-text--small ">Send as dropshipper</checkbox>
        </div>
        <div class="details__item details__item--input">
          <div class="details__item details__item--delivery-detail">
              <input type="text" placeholder="Email" class="details__input " 
              v-model="email" v-on:change="checkEmail(email)" v-bind:class="{'details__input--valid':isValidEmail}">
              <p>Message is: {{ email }}</p>
              <input type="text" name="phone" placeholder="Phone Number" class="details__input"
               v-model="number" v-on:change="checkNumber(email)" v-bind:class="{'details__input--valid':isValidNumber}">
              <textarea name="address" id="" cols="30" rows="10" placeholder="Delivery Address" 
              class="details__input details__input--area  body-text"></textarea>
          </div>
          <div class="space"></div>
          <div class="details__item details__item--dropshipper-detail">
              <input type="text" name="dropshipper-name" placeholder="Dropshipper Name" class="details__input">
              <input type="text" name="dropsipper-phone" placeholder="Dropshipper Phone Number" class="details__input">
          </div>
        </div>
    </div>
</template>

<script>
import checkbox from 'vue-material-checkbox'
export default {
    name: 'DeliveryDetails',
    components:{
      checkbox
    },
    data() {
      return {
        isDropshipper: false,
        isValidNumber: false,
        isValidEmail: false,
        isValidAddress: false,
        isValidDropshipperName: false,
        isValidDropshipperNumberL: false
    }
  },
  methods: {
      checkEmail (value) {
        let patt = new RegExp("/[A-z_.]+@[A-z_.]+/")
        if(patt.test(value)){
          this.isValidEmail =  true
        }
        else
          this.isValidEmail =  false
      },
      checkNumber (value) {
        let patt = new RegExp("/([0-9])+/")
        if(patt.test(value) && value.length > 5 && value.length < 21){
          this.isValidNumber =  true
        }
        else
          this.isValidNumber =  false
      }
  }
}
</script>

<style lang="stylus">
    green = #1BD97B
    orange = #FF8A0

    .details__section
      display flex
      flex-direction column
      flex-grow 9
    
    .details__section--centered
      justify-content center
      align-items center

    .details__item
      display flex
      flex-direction column
    
    .details__item--input
      display flex
      flex-direction row
      justify-content space-between
      align-items stretch
      flex-wrap wrap
    
    .details__item--heading
      display flex
      flex-direction row
      flex-wrap wrap
      justify-content space-between
    
    .details__item--delivery-detail
      flex-grow 3

    .details__item--dropshipper-detail
      flex-grow 2
    
    .details__input
      margin 10px 0 10px 0
      padding 0
      height 60px
      border 1px solid rgba(45,42,64,0.4)

    .details__input--area
      height 120px
      resize none
    
    .details__input--valid
      border 2px solid green

    .details__input--invalid
      border 2px solid orange

    .checkbox
      width auto
    
    .space
      flex-grow 0.5
    
    @media (max-width: 1200px)
      .details__section
        width 95%
        align-self center
    
    @media (max-width : 600px)
      .details__input
        width 95%
        
      .details__item--input
        flex-direction column

      .space
        display none
</style>