<template>
    <div class="delivery-page__section delivery-page__section--space-between delivery-page__section--size-large details">
        <component :is='componentName'></component>
        <Divider/>
        <Summary v-bind:step="step" @next="forwardStep"/>
    </div>
</template>

<script>
import DeliveryDetails from './DeliveryDetails.vue'
import Summary from './Summary.vue'
import Divider from './Divider.vue'
import PaymentDetail from './PaymentDetail.vue'
import FinishProcess from './FinishProcess.vue'
export default {
    name : 'Detail',
    props: ['step'],
    components: {
        DeliveryDetails,
        Summary,
        Divider,
        PaymentDetail,
        FinishProcess
    },
    data() {
    return {
      componentName: 'DeliveryDetails',
    }
  },
  methods: {
    forwardStep (value) {
      this.showPage(value)
      this.$emit('next', value )
    },
    showPage(value){
      if(value == 1 || value == 4)
        this.componentName = 'DeliveryDetails'
        else if(value == 2)
          this.componentName = 'PaymentDetail'
          else
            this.componentName ='FinishProcess'
    }
  }
}
</script>

<style lang="stylus">
    .details
        margin-top 5px
        height 80%

    @media (max-width: 700px)
      .details
        justify-content space-between
        min-height 100%
    @media (max-width: 1200px)
      .details
        flex-direction column
        align-items stretch
        min-height 100%
</style>