<template>
    <div class="divider">
    </div>
</template>

<script>
export default {
    name:'Divider'
}
</script>

<style lang="stylus">
    .divider
      margin 0px 20px 0 20px
      border 0.5px solid orange
      
    @media (max-width: 500px)
      .divider
        display none
</style>