<template>
    <div class="details__section body-text finish-summary">
        <div class="finish-summary__detail">
            <h1 class="heading-text heading-text--h1">Thank you</h1>
            <p class="body-text--semi-bold body-text--finish">Order id : BXYABL</p>
            <p>Your order will be delivered today by GO-SEND</p>
        </div>
        <BackButton/>
    </div>
</template>

<script>
import BackButton from "./BackButton.vue"
export default {
    name: 'FinishProcess',
    components: {
        BackButton
    }
}
</script>

<style lang="stylus">
    .finish-summary
      display flex
      height 200px
      margin-left 20%
      align-self center
      justify-content space-between
    
    .body-text--finish
      padding-bottom 10px

    @media (max-width :1200px)
      .finish-summary
        margin 0
</style>