<template>
  <div class="details__section body-text">
    <h1 class="heading-text heading-text--h1">Shipment</h1>
    <div class="radio-input">
        <div v-for="method in shipmentMethod" v-bind:key="method.id" class="radio-input__item">
            <div class="radio-input__section">
                <input type="radio" name="group1" id="r1" value="1" class="radio-input__item--check" />
                <label for="r1">{{method.name}}</label> 
                <p class="radio-input__item--text">{{method.price}}</p>
            </div>
            <Check/>
        </div>
    </div>
    <h1 class="heading-text heading-text--h1">Payment</h1>
    <div class="radio-input">
        <div v-for="method in transferMethod" v-bind:key="method.id" class="radio-input__item">
            <div class="radio-input__section">
                <input type="radio" name="group1" id="r1" value="1" class="radio-input__item--check" />
                <label for="r1">{{method.name}}</label> 
                <p class="radio-input__item--text" v-if="typeof(method.balance) !== 'undefined'">{{method.balance}}</p>
            </div>
            <Check/>
        </div>
    </div>    
  </div>
</template>

<script>
import Check from 'vue-material-design-icons/Check.vue'
export default {
    name: 'PaymentDetail',
    components : {
        Check
    },
    data: function () {
    return {
      shipmentMethod: [{
          name:"GO-SEND",
          price:"15,000",
          id:"1"
      },{
          name:"JNE",
          price:"9,000",
          id:"2"
      },{
          name:"Personal Courier",
          price:"29,000",
          id:"3"
      }],
      transferMethod: [{    
          name:"e-wallet",
          balance:"1,500,000 left",
          id:"1"
      },{
          name:"Bank Transfer",
          id:"2"
      },{
          name:"Virtual Account",
          id:"3"
      }]
    }
  }
}
</script>

<style lang="stylus">
    light-gray = #CCCCCC
    green = #1BD97B

    .radio-input
      display flex
      flex-wrap wrap
    .radio-input__item
      display flex
      flex-direction row
      justify-content space-between
      align-items center
      width 170px
      height 50px
      border 2px solid light-gray
      padding 5px
      margin 10px 10px 10px 0
      font-family InterUI-semi-bold
    
    .radio-input__section
      display flex
      flex-direction column
    
    .radio-input__section input:checked ~ .radio-input__item--check
      border 2px solid green
    
    .radio-input__item--check
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0
      width: 0
    
    .radio-input__item--text
      font-family InterUI-Bold
      margin 5px 0 5px 0
    
</style>