<template>
    <div class="progress-step">
        <div class="progress-step__item" id="1">
            <p class="progress-step__number progress-step__number--active" >1</p>
            <p class="progress-step__text progress-step__text--active">Delivery</p>
        </div>
        <ChevronRight class="progress-step__item--arrow"></ChevronRight>
        <div class="progress-step__item" id="2">
            <p class="progress-step__number" v-bind:class="{'progress-step__number--active':step > 1}">2</p>
            <p class="progress-step__text" v-bind:class="{'progress-step__text--active':step > 1}">Payment</p>
        </div>
        <ChevronRight class="progress-step__item--arrow"></ChevronRight>
        <div class="progress-step__item" id="3">
            <p class="progress-step__number" v-bind:class="{'progress-step__number--active':step > 2}">3</p>
            <p class="progress-step__text" v-bind:class="{'progress-step__text--active':step > 2}">Finish</p>
        </div>
    </div>
</template>

<script>
import ChevronRight from 'vue-material-design-icons/ChevronRight.vue'
export default {
    name : 'ProgressStep',
    props : ['step'],
    components : {
        ChevronRight
    }
}
</script>

<style lang="stylus">
    .progress-step
        display flex
        justify-content space-evenly
        width 500px
        height 70px
        border-radius (@height/2)
        margin-top -(@height/2)
        background-color #fffAE6
    
    .progress-step__item--arrow
        color orange
    
    .material-design-icon.progress-step__item--arrow 
        height 1.5em
        width 1.5em
        
    .material-design-icon.progress-step__item--arrow > .material-design-icon__svg 
        height 1.5em
        width 1.5em

    .progress-step__item
        display flex
        align-items center
        font-family InterUI

    .progress-step__number
        width 15px
        height 15px
        padding 7.5px
        border-radius 50%
        display inline-flex
        justify-content center
        align-items center
        margin-right 5px
        background-color rgba(255,138,0,0.2)
        color orange

    .progress-step__number--active
        background-color orange
        color white

    .progress-step__text
        font-size 1em
        font-style normal
        color orange
    
    .progress-step__text--active
        font-family InterUI-semi-bold

    @media (max-width: 700px)
      .progress-step
        border-radius 0
        margin-top 0
        width 100%

</style>