<template>
    <div class="summary">
        <h2 class="summary__heading">Summary</h2>
        <p class="body-text body-text--small">10 items purchased</p>
        <div class="summary__section summary__section--push body-text body-text--small">
            <p>Cost of goods</p>
            <p class="body-text--bold">500,000</p>
        </div>
        <div class="summary__section body-text body-text--small">
            <p>Dropshipping Fee</p>
            <p class="body-text--bold">5,900</p>
        </div>
        <div class="summary__section heading-text heading-text--h2">
            <p>Total</p>
            <p>505,900</p>
        </div>
        <button class="submit-button" v-on:click="forwardStep">Continue to Payment</button>
    </div>
</template>

<script>
export default {
  name: 'Summary',
  props : ['step'],
  data: function () {
    return {
      show: false
    }
  },
  methods: {
    forwardStep () {
      this.$emit('next', this.$props.step + 1 )
    }
  }
}
</script>

<style lang="stylus">
    .summary
      display flex
      justify-content space-between
      flex-direction column
      width 20%
      min-height 450px
    
    .summary__heading
      font-family Montserrat
      color orange
      margin 10px 0 10px 0
      font-size 1.5em
    
    .summary__section
      display flex
      justify-content space-between
    
    .summary__section--push
      margin-top auto
    
    .submit-button
      background-color orange
      color white
      font-family InterUI
      border none
      height 60px
      font-size 18px
    
    @media (max-width: 1200px)
      .summary
        width 95%
        min-height 200px
        align-self center
        flex-grow 1
        margin-bottom 20px
        
    @media (max-width: 600px)
      .summary
        width 100%
        bottom 0
        margin-bottom 20px
</style>