<template>
  <div class="delivery-page">
    <ProgressStep v-bind:step='step'/>
    <BackButton/>
    <Detail v-bind:step="step" @next="changeStep"/>
  </div>
</template>

<script>
import ProgressStep from './components/ProgressStep.vue'
import Detail from './components/Detail.vue'
import BackButton from './components/BackButton.vue'

export default {
    name : 'app',
    components: {
    ProgressStep,
    Detail,
    BackButton
  },
  data() {
    return {
      step: 1,
    }
  },
  methods: {
    changeStep (value) {
      if(value > 3)
        this.step = 1
      else
        this.step = value
    }
  }
}
</script>

<style lang="stylus">
  @font-face
      font-family InterUI
      font-style normal
      src url(./assets/font/Inter-Regular.woff2)
  @font-face
      font-family InterUI-semi-bold
      font-style semi-bold
      src url(./assets/font/Inter-Medium.woff2)
  @font-face
      font-family InterUI-bold
      font-style bold
      src url(./assets/font/Inter-ExtraBold.woff2)
  @font-face
      font-family Montserrat
      font-style bold
      src url(./assets/font/Montserrat-Bold.woff2)

  orange = #FF8A00
  pastel-orange = #fffAE6
  black = #2D2A40
  transparent-black = rgba(45,42,64,0.4)

  h1,h2,h3,h4,
  h5,p
    margin 5px
    font-weight 500

  .body-text
    font-family InterUI
  
  .body-text--semi-bold
    font-family InterUI-semi-bold

  .body-text--bold
    font-family InterUI-bold
  
  .body-text--black
    color black
  
  .body-text--small
    font-size 0.875em
  
  .heading-text
    font-family Montserrat
    color orange
    margin 10px 0 25px 0
  
  .heading-text--h1
    font-size 2.25em
    padding-left 3px
    background url("./assets/img/rectangle.png") no-repeat
    background-size 320px 8px 
    background-position 0% 85%

  .heading-text--h2
    font-size 1.5em

  .page
    margin 0
    
  .page--orange
    background-color pastel-orange

  .delivery-page
    display flex
    margin 50px auto 50px auto
    padding-bottom 20px
    align-items center
    justify-content space-between
    flex-flow column
    background-color white
    width 90%
    min-height 530px
    border-radius 5px
    -webkit-box-shadow: 0px 34px 61px -22px rgba(255,138,0,0.21);
    -moz-box-shadow: 0px 34px 61px -22px rgba(255,138,0,0.21);
    box-shadow: 0px 34px 61px -22px rgba(255,138,0,0.21);

  .delivery-page__section
    display flex
  
  .delivery-page__section--space-between
    justify-content space-between

  .delivery-page__section--size-large
    width 95%
  
  @media (max-width : 700px)
    .delivery-page
      flex-direction column
      position relative
      margin 0
      width 100%
      min-height 90vh
</style>
